body {
  background: #ffc75f;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s linear, color 0.3s linear;
  margin: 0;
}
main {
  background-color: #ffc75f;
  width: 100%;
  height: 670px;
}
#img {
  margin: auto;
  display: block;
  width: 300px;
  height: 150px;
}

h1 {
  color: #75cfb8;
}
h2 {
  color: #171817;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

h3 {
  color: #ffc75f;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.victorias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 35px;
  /* margin: 0 80px; */
}

.victorias div {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  border: 4px solid #75cfb8;
  color: #75cfb8;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.3);
}

.divTateti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.divBoton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*     width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px; */
}

.casilleroTateti {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px 5px;
  width: 100px;
  height: 100px;
  background-color: #75cfb8;
  border-radius: 20%;
  border: 4px solid #222831;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 5.5rem;
  margin: 2px 2px;
  color: #fffff2;
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.3);
}

.casilleroTateti:hover {
  background-color: #16c79a;
  border: 4px solid #a5b1b1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  border: 4px solid #75cfb8;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.2);
}
