body {
  background-image: url("img/bb-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
}
.barra {
  background-color: #56776c;
}

header img {
  height: 100px;
}

.gif-spinner img {
  width: 200px;
}

.img {
  width: 100%;
  height: 300px;
}
.icono {
  font-size: 30px;
}
.info-display {
  position: absolute;
  display: none;
  width: 90%;
  height: 100%;
  top: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.img-info:hover > .info-display {
  display: block;
}

hr {
  background-color: white;
}

span {
  font-weight: lighter;
}
.footer {
  color: rgb(30, 230, 11);
}
